nav {
  transition: background-color 250ms ease-in-out;
}

.navbar-fixed {
  z-index: 999;
}

#scroll-to-top {
  position: fixed;
  bottom: 40px;
  right: 40px;
  opacity: 0;
  transition: opacity 250ms ease-in-out, visibility 250ms ease-in-out;
}

.header-section {
  margin-top: -64px;
  z-index: -997;
}

.header-content {
  margin-top: -100px;
  z-index: -996;
}

.parallax-container {
  height: 300px;
}
.parallax img {
  object-fit: fill;
}

.nav-wrapper .brand-logo {
  display: inline-block;
  height: 100%;
}

.row.no-padding .col {
  padding: 0;
}

.project-list {
  margin-top: 2rem;
}

.powered-by {
  margin-top: 1rem;
}

.header-buttons a {
  margin-right: 5px;
}

.heading-title {
  margin: 1.52rem 0 0.5rem 0;
}

.job-position {
  margin: 1rem 0 0 0;
}

.project img {
  height: 250px;
  object-fit: cover;
  display: block;
}

.project .card-image:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: -moz-linear-gradient(
    top,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.1) 100%
  ); /* FF3.6+ */
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0%, rgba(0, 0, 0, 0)),
    color-stop(100%, rgba(0, 0, 0, 0.1))
  ); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(
    top,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.1) 100%
  ); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(
    top,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.1) 100%
  ); /* Opera 11.10+ */
  background: -ms-linear-gradient(
    top,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.1) 100%
  ); /* IE10+ */
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.1) 100%
  ); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
  z-index: 1;
}

.project.card {
  height: 530px;
}
.project .card-content {
  height: 200px;
}

.card-action a {
  margin-right: 5px;
}

.company-name {
  margin: 0 0 0.5rem 0;
}

.experience-date i,
.publication-date i {
  margin-right: 5px;
}

strong {
  font-weight: bold;
}

.strong-divider {
  height: 5px;
  overflow: hidden;
  background-color: #252a34;
}

.nav-wrapper .brand-logo object,
.nav-wrapper .brand-logo img {
  vertical-align: middle;
  height: 42px;
}

.illustration object {
  height: 150px;
}

.illustration {
  margin: 15px;
}

@media only screen and (max-width: 992px) {
  nav .brand-logo {
    left: 38%;
    transform: translateX(-50%);
  }
}

ul.connect {
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  text-align: left;
}

ul.connect li a {
  color: #252a34;
  transition: color 250ms ease-in-out;
}

ul.connect li a:hover {
  color: #e23e57;
}

ul.connect li a i {
  margin-right: 15px;
}

a.svg {
  position: relative;
  display: inline-block;
}
a.svg:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.primary-picture {
  border: 5px solid white;
  width: 200px;
}
